{% extends 'base.html.twig' %}

{% block title %}Créer mon Restaurant{% endblock %}

{% block body %}

    <div class="text-center">
        <h4 style="color: #212529;font-size: 45px; margin-top:60px">Modifier mon restaurant</h4>
    </div>
    <hr class="modern-form__hr">

    {{ include('restorer/_form.html.twig',{'button_label': 'Enregistrer'}) }}

{#     <a href="{{ path('restorer_index') }}">back to list</a> #}
{% endblock %}
