{% extends 'base.html.twig' %}

{% block title %}Créer mon Restaurant{% endblock %}

{% block body %}

    {{ include('restorer/_form.html.twig') }}

{#     <a href="{{ path('restorer_index') }}">back to list</a> #}
{% endblock %}
