<form method="post" class="form_delete" action="{{ path('user_client_delete', {'id': user_client.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet utilisateur ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user_client.id) }}">
    <button class="btn button_delete">Supprimer</button>
</form>
