{% extends 'base.html.twig' %}

{% block body %}
    
    {% for dish in dishs %}
    <div class="container modern-form">
            <div class="modern-form__form-container">
               <a href="{{path('noteUnPlat',{'id':dish.id})}}"> Noter le {{dish.nom}} </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}