{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}

    <h4> Nombre de restaurants {{ nbRestorers }}</h4>
    <h4> Nombre de commandes passées {{ nbOrders }}</h4>
    <h4> Nombre de commandes terminés {{ nbOrdersFinished }}</h4>
    <h4> Bénéfices {{ benefits }}</h4>
    
{% endblock %}
