<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Footer-1.css">
</head>

<body>
    <footer id="myFooter">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-12 col-sm-6 col-md-3">
                    <h1 class="logo" style="margin-top:30px;"><a href="#">EATS</a></h1>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                    <h5>A propos</h5>
                    <ul>
                        <li><a href="#">Ajouter votre restaurant</a></li>
                        <li><a href="#">Service Client</a></li>
                        <li><a href="#">Devenir Coursier</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-2">
                    <h5>Parcourir</h5>
                    <ul>
                        <li><a href="#">Trouver un restaurant</a></li>
                        <li><a href="#">Restaurant Aléatoire<br></a></li>
                        <li><a href="#">Historique de commandes</a></li>
                    </ul>
                </div>
            </div>
            <div class="row footer-copyright">
                <div class="col">
                    <p>© 2021 Copyright  ~ EATS <a href="#"></a></p>
                </div> 
            </div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>