<form method="post" class="form_delete" action="{{ path('dish_delete', {'id': dish.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce plat ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dish.id) }}">
    <button class="btn button_delete">Supprimer</button>
</form>
