{% extends 'base.html.twig' %}

{% block title %}Nouveau Plat{% endblock %}

{% block body %}
    <div class="text-center">
        <h4 style="color: #212529;font-size: 45px; margin-top:60px">Créer un nouveau plat</h4>
    </div>
    <hr class="modern-form__hr">

    {{ include('dish/_form.html.twig') }}

{#     <a href="{{ path('dish_index') }}">back to list</a> #}
{% endblock %}
