{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Récapitulatif de votre commande</h1>

    {% if order %}
        <pre>
            {{ dump(order) }}
        </pre>
    {% else %}
    <p>Vous n'avez pas de commande !</p>
    {% endif %}
{% endblock %}
