{% extends 'base.html.twig' %}

{% block title %}Commande Validée {% endblock %}

{% block body %}
{% for label, messages in app.flashes(['success', 'danger']) %}
        {% for message in messages %}
                    <div style="margin-right: 150px;margin-left: 150px;">
                        <div class="text-center" style="margin-top: 20px;background: var(--light);box-shadow: 9px 11px 20px 11px rgb(215,215,215);border-radius: 29px;padding-top: 10px;padding-bottom: 40px;">
                        <img src="{{imgSrc}}" style="width: 175px;margin-top: 50px;">
                        <h2 class="text-center" style="margin-top: 15px;font-size: 35px;padding-bottom: 10px;">{{message}}</h2>
                        <a class="btn btn-primary" type="button" href="{{path(pathButton)}}" style="background: #009879;border-style: none;margin-top: 20px;">{{textButton}}</a>
                        </div>
                    </div> 
        {% endfor %}
{% endfor %} 
{% endblock %}