<footer id="myFooter">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-12 col-sm-6 col-md-3">
                <h1 class="logo" style="margin-top:30px;"><a href="#">EATS</a></h1>
            </div>
            <div class="col-12 col-sm-6 col-md-2">
                <h5>A propos</h5>
                <ul>
                    <li><a href="#">Ajouter votre restaurant</a></li>
                    <li><a href="#">Service Client</a></li>
                    <li><a href="#">Devenir Coursier</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-2">
                <h5>Parcourir</h5>
                <ul>
                    <li><a href="#">Trouver un restaurant</a></li>
                    <li><a href="#">Restaurant Aléatoire<br></a></li>
                    <li><a href="#">Historique de commandes</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-2">
                <h5>Infos</h5>
                <ul>
                    <li><a href="#">Informations Personnelles</a></li>
                    <li><a href="#">Mes plats<br></a></li>
                    <li><a href="#">Mon solde</a></li>
                </ul>
            </div>
        </div>
        <div class="row footer-copyright">
            <div class="col">
                <p>© 2021 Copyright  ~ EATS <a href="#"></a></p>
            </div> 
        </div>
    </div>
</footer>
