
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-12 col-sm-6 col-md-3 container_footer">
                <img id="logo_footer" src="/img/fish.png" alt="wrapkit" /></a>
            </div>
            <div class="col-12 col-sm-6 col-md-2">
                <h5>A propos</h5>
                <ul>
                {% if not app.user %}
                    <li><a href="{{ path('restorer_new') }}">Ajouter votre restaurant</a></li>
                {% else %}
                    <li><a href="#">Comment ajouter votre restaurant ?</a></li>
                {% endif %}
                {% if app.user and  app.user.roles[0] == "ROLE_RESTORER" %}
                    <li><a href="{{path('dish_new')}}">Ajouter un plat</a></li>
                    <li><a href="{{path('dishs_restorer',{'id':app.user.id}) }}">Voir mes plats</a></li>
                {% else %}
                    <li><a href="#">Comment ajouter un plat ?</a></li>
                    <li><a href="#">Comment voir mes plats ?</a></li>
                {% endif %}
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-2">
                <h5>Parcourir</h5>
                <ul>
                    <li><a href="#">Trouver un restaurant</a></li>
                    <li><a href="#">Restaurant Aléatoire<br></a></li>
                    <li><a href="#">Historique de commandes</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-2">
                <h5>Infos</h5>
                <ul>
                    <li><a href="#">Informations Personnelles</a></li>
                    <li><a href="#">Mes plats<br></a></li>
                    <li><a href="#">Mon solde</a></li>
                </ul>
            </div>
        </div>
        <div class="row footer-copyright">
            <div class="col">
                <p>© 2021 Copyright  ~ TruEat &#9811; <a href="#"></a></p>
            </div> 
        </div>
    </div>

